In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1

In [4]:
data.shape

(116058, 29)

In [5]:
data.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'm13'],
      dtype='object')

In [6]:
data.loan_id.duplicated().sum()

0

In [7]:
#Drop loan_id
data.drop('loan_id',inplace=True,axis=1)

In [8]:
data.source.value_counts()

X    63858
Y    37554
Z    14646
Name: source, dtype: int64

source, financial_institution, loan_purpose, origination_date,first_payment_date,loan_purpose - label encoding
unpaid_principal_bal, interest_rate, loan_term, loan_to_value, debt_to_income_ratio, borrower_credit_score, co-borrower_credit_score - binning
number_of_borrowers, insurance_type - change float to int
insurance_percent - remove

In [29]:
for col in data.columns:
    print(data[col].value_counts())
    print('------')

X    63858
Y    37554
Z    14646
Name: source, dtype: int64
------
OTHER                          49699
Browning-Hart                  31852
Swanson, Newton and Miller      6874
Edwards-Hoffman                 4857
Martinez, Duffy and Bird        4715
Miller, Mcclure and Allen       3158
Nicholson Group                 2116
Turner, Baldwin and Rhodes      1846
Suarez Inc                      1790
Cole, Brooks and Vincent        1642
Richards-Walters                1459
Taylor, Hunt and Rodriguez      1259
Sanchez-Robinson                1193
Sanchez, Hays and Wilkerson      853
Romero, Woods and Johnson        750
Thornton-Davis                   651
Anderson-Taylor                  483
Richardson Ltd                   473
Chapman-Mcmahon                  388
Name: financial_institution, dtype: int64
------
3.875    21063
4.000    14285
3.250     9680
3.750     8368
4.125     8074
4.250     7485
4.375     7019
3.375     6512
4.500     4559
3.500     4412
3.990     3036
3.625     3002
3.125     2979
3.000     2791
4.625     1976
4.750     1426
2.875     1419
4.875     1202
5.000      494
2.750      362
2.990      315
5.125      288
5.250      265
5.375      192
3.950      192
3.850      147
4.990      132
3.100      126
4.490      111
3.900      104
         ...
6.750        1
3.552        1
4.207        1
4.660        1
3.633        1
3.431        1
4.269        1
3.907        1
4.151        1
2.250        1
2.885        1
4.043        1
3.688        1
3.455        1
4.025        1
3.186        1
4.805        1
4.396        1
4.095        1
3.428        1
4.385        1
3.737        1
4.255        1
3.321        1
3.917        1
3.495        1
3.134        1
3.502        1
3.007        1
3.661        1
Name: interest_rate, Length: 923, dtype: int64
------
417000     2703
100000     1361
200000     1334
150000     1205
120000      920
140000      863
160000      863
180000      839
300000      829
130000      769
125000      748
250000      722
110000      716
400000      706
80000       690
90000       686
135000      653
240000      646
128000      639
175000      629
170000      595
75000       591
220000      575
105000      557
165000      556
190000      553
115000      546
104000      539
112000      535
124000      520
           ...
17000         2
802000        2
589000        2
727000        1
686000        1
656000        1
765000        1
708000        1
11000         1
689000        1
1200000       1
660000        1
632000        1
718000        1
709000        1
794000        1
672000        1
721000        1
968000        1
791000        1
742000        1
915000        1
685000        1
750000        1
421000        1
707000        1
715000        1
642000        1
665000        1
426000        1
Name: unpaid_principal_bal, Length: 646, dtype: int64
------
360    71812
180    28584
120     7061
240     6749
300      912
96       178
156       92
144       73
336       64
324       53
168       40
348       33
108       29
276       22
84        21
312       19
132       19
216       16
121       14
288       13
264       13
228        8
150        7
162        6
60         6
166        5
153        5
163        4
158        4
165        4
       ...
91         1
219        1
347        1
100        1
220        1
93         1
157        1
349        1
94         1
290        1
223        1
280        1
295        1
359        1
172        1
274        1
351        1
83         1
275        1
174        1
110        1
85         1
88         1
149        1
341        1
86         1
171        1
278        1
107        1
319        1
Name: loan_term, Length: 140, dtype: int64
------
2012-02-01    52334
2012-01-01    49093
2012-03-01    14631
Name: origination_date, dtype: int64
------
04/2012    52840
03/2012    47680
05/2012    15014
02/2012      524
Name: first_payment_date, dtype: int64
------
80    22364
75     8231
95     4374
70     3393
90     3303
79     2801
60     2531
74     2503
78     2325
72     2230
73     2192
77     2003
68     1976
69     1927
71     1900
67     1848
65     1834
64     1716
66     1657
76     1618
58     1599
63     1570
59     1565
56     1480
50     1466
62     1456
85     1429
55     1375
53     1356
54     1333
      ...
94      367
27      366
93      355
83      315
25      308
26      296
24      283
86      271
23      259
22      225
21      207
19      193
91      186
20      180
82      173
18      129
17      111
16      102
14       75
15       72
12       49
13       47
96       45
11       34
81       29
10       28
9        11
8        10
7         8
6         5
Name: loan_to_value, Length: 92, dtype: int64
------
2.0    68844
1.0    47214
Name: number_of_borrowers, dtype: int64
------
44.0    4142
43.0    3986
42.0    3972
31.0    3811
30.0    3790
41.0    3790
40.0    3785
29.0    3783
28.0    3776
39.0    3765
33.0    3738
26.0    3737
35.0    3723
37.0    3721
27.0    3715
36.0    3702
32.0    3682
38.0    3672
34.0    3671
25.0    3621
24.0    3512
22.0    3392
23.0    3374
45.0    3369
21.0    3133
20.0    2953
19.0    2739
18.0    2483
17.0    2233
16.0    1969
15.0    1672
14.0    1374
13.0    1251
12.0     953
47.0     819
46.0     817
49.0     803
48.0     759
11.0     711
10.0     577
50.0     531
9.0      334
8.0      239
7.0      182
6.0      105
5.0       73
4.0       42
3.0       31
2.0       18
51.0       9
1.0        8
52.0       3
55.0       2
53.0       2
64.0       1
61.0       1
56.0       1
58.0       1
Name: debt_to_income_ratio, dtype: int64
------
801.0    2271
809.0    2246
802.0    2067
808.0    2024
791.0    1958
800.0    1862
798.0    1846
797.0    1818
804.0    1807
790.0    1798
796.0    1754
799.0    1740
787.0    1735
793.0    1671
794.0    1625
803.0    1601
792.0    1577
788.0    1571
795.0    1553
786.0    1494
784.0    1492
813.0    1453
806.0    1452
812.0    1423
783.0    1420
781.0    1380
807.0    1367
789.0    1366
805.0    1343
778.0    1333
         ...
627.0      33
632.0      32
626.0      32
634.0      31
630.0      31
633.0      27
635.0      25
621.0      25
625.0      25
636.0      24
620.0      24
629.0      24
622.0      22
639.0      22
628.0      22
826.0      21
828.0      19
623.0      18
827.0      18
624.0      17
832.0      14
830.0       7
834.0       4
833.0       1
838.0       1
619.0       1
480.0       1
840.0       1
559.0       1
831.0       1
Name: borrower_credit_score, Length: 221, dtype: int64
------
A23    58462
B12    29383
C86    28213
Name: loan_purpose, dtype: int64
------
0.0     102455
30.0      5113
25.0      4885
12.0      2493
6.0        701
35.0       372
16.0        18
18.0        12
20.0         3
17.0         2
15.0         1
39.0         1
22.0         1
40.0         1
Name: insurance_percent, dtype: int64
------
0.0      47263
801.0     1540
809.0     1515
808.0     1492
802.0     1356
791.0     1317
797.0     1235
790.0     1207
799.0     1182
798.0     1180
796.0     1169
800.0     1105
803.0     1098
804.0     1072
787.0     1063
794.0     1046
793.0     1042
812.0     1002
795.0      987
792.0      984
806.0      983
813.0      979
788.0      978
805.0      970
784.0      947
816.0      893
807.0      890
789.0      856
786.0      855
811.0      855
         ...
640.0       15
633.0       15
641.0       14
637.0       14
630.0       13
638.0       12
642.0       12
636.0       12
639.0       12
625.0       11
828.0       11
632.0       11
623.0       10
624.0       10
621.0        9
622.0        9
635.0        8
620.0        8
628.0        7
827.0        7
629.0        6
634.0        6
631.0        5
832.0        5
627.0        5
830.0        5
626.0        4
834.0        2
831.0        2
836.0        1
Name: co-borrower_credit_score, Length: 216, dtype: int64
------
0.0    115680
1.0       378
Name: insurance_type, dtype: int64
------
0    115729
1       293
2        30
3         6
Name: m1, dtype: int64
------
0    115844
1       196
2        13
3         3
4         2
Name: m2, dtype: int64
------
0    115868
1       167
2        14
3         4
4         3
5         2
Name: m3, dtype: int64
------
0    115860
1       168
2        16
3         8
4         3
6         2
5         1
Name: m4, dtype: int64
------
0    115752
1       249
2        33
3        12
4         6
5         3
7         2
6         1
Name: m5, dtype: int64
------
0    115785
1       214
2        26
3        16
4         9
5         4
6         2
8         1
7         1
Name: m6, dtype: int64
------
0    115728
1       266
2        28
3        13
4         8
5         7
6         4
7         2
9         1
8         1
Name: m7, dtype: int64
------
0     115696
1        274
2         49
4         10
3         10
5          7
6          6
7          4
10         1
9          1
Name: m8, dtype: int64
------
0     115687
1        273
2         41
3         25
5          8
4          7
6          6
7          5
8          4
11         1
10         1
Name: m9, dtype: int64
------
0     115613
1        325
2         54
3         21
4         15
6          8
5          6
8          5
7          5
9          4
12         1
11         1
Name: m10, dtype: int64
------
0     115612
1        320
2         48
3         26
5         12
4         11
7          9
6          7
9          4
8          4
10         3
13         1
11         1
Name: m11, dtype: int64
------
0     115557
1        366
2         47
3         28
4         15
6         14
7          7
5          7
10         5
8          5
11         3
9          3
14         1
Name: m12, dtype: int64
------
0    115422
1       636
Name: m13, dtype: int64
------

In [30]:
data.isnull().sum()

source                      0
financial_institution       0
interest_rate               0
unpaid_principal_bal        0
loan_term                   0
origination_date            0
first_payment_date          0
loan_to_value               0
number_of_borrowers         0
debt_to_income_ratio        0
borrower_credit_score       0
loan_purpose                0
insurance_percent           0
co-borrower_credit_score    0
insurance_type              0
m1                          0
m2                          0
m3                          0
m4                          0
m5                          0
m6                          0
m7                          0
m8                          0
m9                          0
m10                         0
m11                         0
m12                         0
m13                         0
dtype: int64

In [37]:
115422/data.shape[0]

0.9945199813886161

In [24]:
data.m13.value_counts()

0    115422
1       636
Name: m13, dtype: int64

In [34]:
cols = ['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13']
data[data.m13 == 1][cols]

     m1  m2  m3  m4  m5  m6  m7  m8  m9  m10  m11  m12  m13
0     0   0   0   0   0   0   1   0   0    0    0    0    1
1     0   0   0   0   0   0   0   0   0    0    1    0    1
2     0   0   0   0   0   0   0   0   0    0    0    0    1
3     0   0   0   0   0   0   0   0   1    1    1    1    1
4     0   1   2   3   4   5   6   7   8    9   10   11    1
5     1   0   0   0   0   0   0   0   0    0    0    0    1
6     0   0   0   0   0   0   0   0   0    0    0    0    1
7     0   1   0   0   0   0   0   0   0    0    0    0    1
8     0   0   0   0   1   0   1   0   1    2    0    1    1
9     0   0   0   0   0   1   1   1   1    1    2    2    1
10    0   0   0   0   0   0   0   0   0    0    0    1    1
11    0   0   1   0   1   0   0   0   0    0    1    1    1
12    0   0   0   0   0   0   0   0   0    0    0    0    1
13    0   0   0   0   1   2   3   4   5    6    7    8    1
14    0   0   0   0   0   0   0   0   0    0    0    0    1
15    0   0   0   1   0   0   0   0   0    0    1    1    1
16    0   0   0   0   0   0   0   0   1    1    2    3    1
17    0   0   0   0   0   0   0   0   0    0    0    0    1
18    0   0   0   0   1   0   0   0   0    0    0    1    1
19    0   0   0   0   0   0   0   0   1    2    2    2    1
20    0   0   0   1   0   0   0   0   0    0    0    0    1
21    0   0   0   0   0   0   0   0   0    0    0    1    1
22    0   0   0   0   0   1   0   1   1    0    0    1    1
23    0   0   0   0   0   0   0   0   0    0    0    1    1
24    0   0   0   0   0   0   0   0   0    0    1    1    1
25    0   0   0   0   0   0   0   0   0    0    1    2    1
26    0   0   0   0   0   0   0   0   0    0    0    1    1
27    0   0   0   0   0   0   0   0   0    0    0    0    1
28    0   0   0   0   0   1   0   0   0    0    0    0    1
29    0   0   0   0   0   0   0   0   0    0    0    0    1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...
606   0   0   0   0   0   0   1   0   0    1    2    3    1
607   0   0   0   1   1   1   0   1   2    0    0    0    1
608   0   0   0   0   0   0   0   0   0    0    0    0    1
609   0   0   0   0   0   0   0   1   2    3    3    3    1
610   0   0   0   0   1   2   3   4   5    6    7    6    1
611   0   0   0   0   0   1   1   2   2    0    1    0    1
612   0   0   0   0   0   0   0   0   0    0    0    0    1
613   0   0   0   0   0   0   0   0   0    0    0    0    1
614   0   0   0   0   0   0   0   0   0    0    0    0    1
615   0   0   0   0   0   0   0   0   0    0    0    1    1
616   0   0   0   0   0   0   0   0   0    1    0    0    1
617   0   0   0   0   0   0   0   0   0    0    0    1    1
618   0   0   0   0   0   0   0   0   0    0    0    0    1
619   0   0   0   0   0   0   0   1   0    1    0    0    1
620   0   0   0   0   0   0   0   0   0    0    0    0    1
621   0   0   0   0   0   0   0   0   0    0    0    1    1
622   0   0   0   0   1   2   3   4   5    6    7    8    1
623   0   0   0   0   0   0   0   0   0    0    1    1    1
624   0   0   0   0   0   0   0   0   0    0    1    0    1
625   1   0   0   0   0   0   0   0   0    1    0    0    1
626   0   0   0   0   0   0   0   0   0    0    0    0    1
627   0   0   0   0   0   0   0   0   0    0    0    0    1
628   0   0   0   0   0   0   0   0   0    0    0    0    1
629   0   0   0   0   0   0   0   0   0    0    0    0    1
630   0   0   0   1   0   1   2   2   1    2    3    4    1
631   0   0   0   0   0   0   0   1   1    0    0    0    1
632   0   0   0   0   0   0   0   0   0    0    0    0    1
633   0   0   0   0   0   1   0   0   1    1    1    2    1
634   0   0   0   0   0   0   0   0   0    0    0    0    1
635   0   0   0   0   0   0   0   0   0    0    0    0    1

[636 rows x 13 columns]

In [27]:
data.duplicated().sum()

16